@import "tailwindcss";
@import "@catppuccin/tailwindcss/macchiato.css";
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
body {
  background: var(--ctp-base);
  color: var(--ctp-text);
  font-family: var(--font-sans);
}
